*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root
{
    --mensagem-dela: #907AD6;
    --minha-mensagem: #DABFFF;
    --background-conversas: #4F518C;
    --background-navegando: #2C2A4A;
    --atencao: #7FDEFF;
    --filtro: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
}
html{
    width:100dvw;
    height:100dvh;
}
body{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas: 
    "botoes contatos contato"
    "botoes contatos conversa";
    grid-template-columns: 55px 30% auto;
    grid-template-rows: 70px auto;
}   
.header_contato
{
    background-color: var(--background-navegando);
    grid-area: contato;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    img
    {
        height: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        margin: 10px;
    }
    h3
    {
        filter: var(--filtro);
    }
}
.barra_lateral
{
    background-color: var(--background-navegando);
    grid-area: botoes;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--atencao);
    nav
    {
        width: 100%;
        height: fit-content;
        ul
        {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 0;
            gap: 25px;
            li
            {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.35s ease-in-out;
                img
                {
                    filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
                }
                .profile_foto_lateral
                {
                    filter: none;
                    width: 100%;
                    border-radius: 50%;
                }
            }
            li:hover
            {
                background-color: blue;
            }
        }
    }
}
.todos_contatos
{
    background-color: var(--background-navegando);
    grid-area: contatos;
    border-right: 1px solid var(--atencao);
    display: grid;
    grid-template-rows: 16% 82%;
    overflow: scroll;
    position: relative;
    .perfil
    {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 3;
        display: grid;
        grid-template-rows: 30px 210px repeat(5 , 30px) auto 30px 90px;

    }
    .top_contatos
    {
        
        nav
        {
            display: flex;
            flex-direction: row;
            h2
            {
                margin: 10px auto 0 10px;
                filter: var(--filtro);   
            }
            a
            {
                border-radius: 50%;
                width: 50px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                transition: 0.35s;
                img
                {
                    margin: 20px;
                    filter: invert(100%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
                }
            }
            a:hover
            {
                background-color: blue;
            }
        }
        .form_contatos
        {
            text-align: center;
            input
            {
                width: 90%;
                border-radius: 50px;
                outline: none;
                border: none;
                padding: 10px 10px;
                margin: 0 auto 10px auto;
                font-weight: 600;
            }
            nav
            {
                display: flex;
                align-items: center;
                width: 90%;
                margin: auto;
                gap: 10px;
                button
                {
                    padding: 5px 5px;
                    border-radius: 10px;
                    border: none;
                    outline: none;
                    color: var(--atencao);
                    background-color: var(--background-navegando);
                    font-weight: 600;
                }
                .btn_selected
                {
                    background-color: var(--background-conversas);
                    border: 1px solid var(--atencao);
                }
            }
        }
    }
    .down_contatos
    {
        height: 100%;
        width: 100%;
        margin:10px auto;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        .contato
        {
            margin: 5px auto;
            padding: 5px 0;
            width: 95%;
            height: 75px;
            background-color: var(--background-conversas);
            border-radius: 10px;
            position: relative;

            display: grid;
            grid-template-columns: 20% 65% 15%;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: 
            "foto nome"
            "foto papo"
            ;
            cursor: pointer;
            .foto_colega
            {
                grid-area: foto;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                img
                {
                    width: 70%;
                    max-width: 60px;
                    background-color: var(--mensagem-dela);
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            h3
            {
                grid-area: nome;
                color: var(--minha-mensagem);
                display: flex;
                align-items: end;
            }
            p
            {
                grid-area: papo;
                color: var(--mensagem-dela);
                white-space: nowrap;   
                overflow: hidden;       
                text-overflow: ellipsis;
                width: 95%;
            }
            .hora_mensagem,.quant_mensagem
            {
                color: var(--atencao);
                text-align: center;
                font-weight: 600;
            }
            .quant_mensagem
            {
                background-color: #DABFFF;
                color: var(--background-navegando);
                width: 25px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
            }
        }
        .contato::after
        {
            content: "Nome";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: var(--background-navegando);
            display: flex;
            align-items: center;
            justify-content: center;
            right: 100%;
            transition: 0.3s ease-in-out;
            border-radius: 10px;
        }
        .contato:hover::after
        {
            right: 0;
            background-color: var(--minha-mensagem);
        }
    }
    ::-webkit-scrollbar
    {
        display: none;
    }
}
.main_conversa
{
    background-color: var(--background-conversas);
    grid-area: conversa;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    overflow: auto;
    .campo_conversa
    {
        width: 100%;
        height: 100%;
        background-color: var(--background-conversas);
        display: flex;
        flex-direction: column-reverse;
        // align-items: end;
        overflow: scroll;
        .display_conversa
        {
            padding: 10px 0;
            display: grid;
            grid-template-columns: repeat(24,1fr);
            row-gap: 10px;
            width: 100%;
            height: fit-content;
            // background-color: red;
            // align-content: end;
            overflow: auto;
            .recebendo,.enviando
            {
                height: fit-content;
                padding: 10px;
                width: fit-content;
                // text-align: justify;
                max-width: 735px;   
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .recebendo
            {
                
                grid-column: 2 / 15;
                background-color: var(--mensagem-dela);
                border-radius: 0px 5px 5px 5px;
            }
            .enviando
            {
                grid-column: 10 / -2;
                margin: 0 0 0 auto;
                background-color: var(--minha-mensagem);
                border-radius: 5px 0px 5px 5px;
            }
        }
        
    }
    .campo_envio
    {
        border-top: 1px solid var(--atencao);
        background-color: var(--background-navegando);
        display: grid;
        grid-template-columns: 60px 60px 1fr 2%;
        align-items: center;
        justify-content: center;
        text-align: center;
        img
        {
            filter: var(--filtro);
            margin: auto;
            width: 50%;
            // background-color: red;
        }
        form
        {
            width: 100%;
            // background-color: red;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            input
            {
                width: 100%;
                height:50%;
                border-radius: 50px;
                outline: none;
                border: none;
                padding: 0 10px;
            }
            button
            {
                background-color: transparent;
                width: 100px;
                padding: -50px;
                outline: none;
                border: none;
            }
        }
    }
}
